/* src/App.css */
.App {
  font-family: Arial, sans-serif;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav li {
  display: inline;
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: #000;
}

main {
  margin-top: 20px;
}

h1 {
  color: #d1503d;
}

button {
  background-color: #d1503d;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #a13a2e;
}
